<!DOCTYPE html>
<html>
<head>
    <!-- Page Title -->
    <% include ../partials/home%>
</head>
<body>
<% if (typeof error == 'object' && error) { %> <% for(var i = 0; i <
error.length; i++) { %>
    <div class="alert alert-danger"><%= error[i].message %></div>
<% } }%>
<form id="html_form" action="insert" role="form" method="post">
    <table class="table">
        <thead>
        <tr>
            <th scope="col">startTime</th>
            <th scope="col">endTime</th>
            <th scope="col">NumOfSeatsAvailable</th>
        </tr>
        </thead>
        <tbody>
        <% for(var i=0; i<data.length; i++) { %>
            <tr>
                <td><%= data[i].timeavailablestart%></td>
                <td><%= data[i].timeavailableend%></td>
                <td><%= data[i].numseats%></td>
            </tr>
        <% } %>
        </tbody>
    </table>

    <select name="timeslot">
        <%for (let a=0; a< data.length; a++) { %>
            <option value= "<%= data[a].aid%>" ><%= data[a].timeavailablestart%> - <%= data[a].timeavailableend%> Max number of seat : <%= data[a].numseats%></option>
        <%}%>
    </select>
    <label for="numOfPeople" >Number of people</label>
    <input required type="tel" class="form-control" id="numOfPeople" name="numOfPeople" placeholder="Do not exceed max seats">
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
<script>
    function setInputFilter(textbox, inputFilter) {
        ["input", "keydown", "keyup", "mousedown", "mouseup", "select", "contextmenu", "drop"].forEach(function(event) {
            textbox.addEventListener(event, function() {
                if (inputFilter(this.value)) {
                    this.oldValue = this.value;
                    this.oldSelectionStart = this.selectionStart;
                    this.oldSelectionEnd = this.selectionEnd;
                } else if (this.hasOwnProperty("oldValue")) {
                    this.value = this.oldValue;
                    this.setSelectionRange(this.oldSelectionStart, this.oldSelectionEnd);
                }
            });
        });
    }
    setInputFilter(document.getElementById("numOfPeople"), function(value) {
        return /^\d*$/.test(value);
    });
</script>


</body>
</html>
