<!DOCTYPE html>
<html>
<head>
    <% include ../partials/home %>

</head>
<body>
<h1>CS2102: <%= title%></h1>
<table class="table">
    <thead>
    <tr>
        <th scope="col">rsvID</th>
        <th scope="col">userID</th>
        <th scope="col">resID</th>
        <th scope="col">rdate</th>
        <th scope="col">rtime</th>
        <th scope="col">numPeople</th>
        <th scope="col">Update</th>
        <th scope="col">Delete</th>
    </tr>
    </thead>
    <tbody>
    <% for(var i=0; i<data.length; i++) { %>
        <tr>
            <td><%= data[i].rsvid%></td>
            <td><%= data[i].userid%></td>
            <td><%= data[i].resid%></td>
            <td><%= date[i]%></td>
            <td><%= data[i].timeslot%></td>
            <td><%= data[i].numpeople%></td>
            <td>
                <form action="/reservation/update/<%= data[i].rsvid%>" method="get">
                    <button type="submit" class="btn btn-danger disabled">Update</button>
                </form>
            </td>
            <td>
                <form action="/reservation/delete/<%= data[i].rsvid %>" method="post">
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>
            </td>
        </tr>
    <% } %>
    </tbody>
</table>
<a href= "/reservation/insert" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Add new reservation</a>
</body>

</html>
