<!DOCTYPE html>
<html>
<head>
    <% include ../partials/home %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.7/dist/css/bootstrap-select.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.7/dist/js/bootstrap-select.min.js"></script>

<!-- (Optional) Latest compiled and minified JavaScript translation files -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.7/dist/js/i18n/defaults-*.min.js"></script>

    <style>
        .container{
            overflow: scroll;
        }

        .row{
            padding: 1%;
        }

        .jumbotron{
            width: 100%;
            height: 350px;
            background-image: url(https://images.pexels.com/photos/958545/pexels-photo-958545.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
            background-size:cover;
            background-repeat: no-repeat;
            opacity: 0.9;
            text-align: center;
        }

        .masthead-brand {
            margin-top: 35px;
            font-style: oblique;
        }

        .main {
            overflow: scroll;
            height:fit-content;
        }

        .btn {
            background-color: transparent;
            border-color: darkgoldenrod;
            color: #271E1E;
            font-weight: bolder;
        }

        .container-head{
            height:fit-content;
            background-color: #271E1E;
            align-content: center;
        }

        .row{
            vertical-align: -webkit-baseline-middle;
        }



    </style>
</head>
<body>
<h1>CS2102: <%= title%></h1>
<div class="main">
    <div class="jumbotron">
            <div class="card" style="background-color: blanchedalmond; opacity: 0.70">
                <h1 class="masthead-brand mb-3">Restaurants</h1>
                <div class="row">
                        <div class="col"><hr></div>
                        <div class="col-auto">This is a page to modify restaurants</div>
                        <div class="col"><hr></div>
                </div>
                </div>
                <p class="text-center mt-5">
                        <a href= "/restaurant/insert" class="btn btn-primary btn-lg" role="button" aria-pressed="true" style="background-color: gold">Add new restaurant</a>
                        </p>
    </div>

    <div class="container">
        <div class="row">
            <div class="col">
                <br>
                <h4>View All Restaurants</h4>
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Name</th>
                        <th scope="col">Opening Hours</th>
                        <th scope="col">Intro</th>
                        <th scope="col">Contact</th>
                        <th scope="col">Update</th>
                        <th scope="col">Delete</th>
                        <th scope="col">Modify availability</th>
                        <th scope="col">Modify mealType</th>
                        <th scope="col">Modify cuisine</th>
                        <th scope="col">Modify Menu</th>
                    </tr>
                    </thead>
                    <tbody>
                    <% for(var i=0; i<data.length; i++) { %>
                        <tr>
                            <td><%= data[i].resid%></td>
                            <td><%= data[i].rname%></td>
                            <td><%= data[i].openinghour%></td>
                            <td><%= data[i].intro%></td>
                            <td><%= data[i].contactno%></td>

                            <td>
                                <form action="/restaurant/update/<%= data[i].resid%>" method="get">
                                    <button type="submit" class="btn btn-danger">Update</button>
                                </form>
                            </td>
                            <td>
                                <form action="/restaurant/delete/<%= data[i].resid %>" method="post">
                                    <button type="submit" class="btn btn-danger">Delete</button>
                                </form>
                            </td>
                            <td>
                                <form action="/restaurant/availability/<%= data[i].resid %>" method="get">
                                    <button type="submit" class="btn btn-primary">Availability</button>
                                </form>
                            </td>
                            <td>
                                <form action="/restaurant/meals/<%= data[i].resid %>" method="get">
                                    <button type="submit" class="btn btn-primary">mealType</button>
                                </form>
                            </td>
                            <td>
                                <form action="/restaurant/cuisines/<%= data[i].resid %>" method="get">
                                    <button type="submit" class="btn btn-primary">cuisine</button>
                                </form>
                            </td>
                            <td>
                                <form action="/restaurant/menu/<%= data[i].resid %>" method="get">
                                    <button type="submit" class="btn btn-primary">menu</button>
                                </form>
                            </td>
                        </tr>
                    <% } %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

</body>

</html>
