<!DOCTYPE html>
<html>
<head>
    <% include ../partials/home %>
</head>
<body>
<h1>CS2102: <%= title%></h1>
<table class="table">
    <thead>
    <tr>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">openingHour</th>
        <th scope="col">cuisine</th>
        <th scope="col">Intro</th>
        <th scope="col">contact number</th>
        <th scope="col">Add/change availability</th>
    </tr>
    </thead>
    <tbody>
    <% for(var i=0; i<data.length; i++) { %>
        <tr>
            <td><%= data[i].resid%></td>
            <td><%= data[i].rname%></td>
            <td><%= data[i].openinghour%></td>
            <td><%= data[i].cuisine%></td>
            <td><%= data[i].intro%></td>
            <td><%= data[i].contactnumber%></td>
            <td>
                <form action="/restaurant/update/<%= data[i].resid%>" method="get">
                    <button type="submit" class="btn btn-danger">Update</button>
                </form>
            </td>
            <td>
                <form action="/restaurant/delete/<%= data[i].resid %>" method="post">
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>
            </td>
            <td>
                <form action="/restaurant/availability/<%= data[i].resid %>" method="get">
                    <button type="submit" class="btn btn-primary">Availability</button>
                </form>
            </td>
        </tr>
    <% } %>
    </tbody>
</table>
<a href= "/restaurant/insert" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Add new restaurant</a>
</body>

</html>
