<!--home page of availability-->
<html>
<head>
<% include ../../partials/home %>

<style>
        .container{
            overflow: scroll;
        }

        .row{
            padding: 1%;
        }

        .jumbotron{
            width: 100%;
            height: 300px;
            background-image: url(https://images.pexels.com/photos/541216/pexels-photo-541216.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500);
            background-size:cover;
            background-repeat: no-repeat;
            opacity: 0.9;
            text-align: center;
        }

        .masthead-brand {
            margin-top: 25px;
            color:#271E1E;
            font-style: oblique;
        }

        .main {
            overflow: scroll;
            height:fit-content;
        }

        .btn {
            background-image: linear-gradient(to right, #84fab0 0%, #ffe187 51%, #84fab0 100%);
            border-color: whitesmoke;
            color: #271E1E;
            font-weight: bolder;
        }

        .container-head{
            height:fit-content;
            background-color: #271E1E;
            align-content: center;
        }
</style>
</head>
<body>
<h1>CS2102: <%= title%></h1>
<div class="main">
    <div class="jumbotron">
        <div class="card" style="background-color: aliceblue; opacity: 0.75">
            <h1 class="masthead-brand mb-3">Availability</h1>
            <div class="row">
                    <div class="col"><hr></div>
                    <div class="col-auto">Add an available time slot, or view all availability</div>
                    <div class="col"><hr></div>
                </div>
        </div>
        <p class="text-center">
                <a href= "/restaurant/availability/<%= id%>/insert" class="btn btn-primary btn-lg mt-3" role="button" aria-pressed="true">Add new available slot</a>
            </p>
        
    </div>
    <div class="container">
        <table class="table">
        <thead>
        <tr>
            <th scope="col">AID</th>
            <th scope="col">resID</th>
            <th scope="col">rdate</th>
            <th scope="col">Start time</th>
            <th scope="col">End time</th>
            <th scope="col">Available seats</th>
            <th scope="col">Update</th>
            <th scope="col">Delete</th>
        </tr>
    </thead>
    <tbody>
    <% for(var i=0; i<data.length; i++) { %>
    <tr>
        <td><%= data[i].aid%></td>
        <td><%= data[i].resid%></td>
        <td><%= date[i]%></td>
        <td><%= data[i].timeavailablestart%></td>
        <td><%= data[i].timeavailableend%></td>
        <td><%= data[i].numseats%></td>
        <td>
            <form action="/restaurant/availability/<%= data[i].resid%>/update/<%= data[i].aid%>" method="get">
                <button type="submit" class="btn btn-danger ">Update</button>
            </form>
        </td>
        <td>
            <form action="/restaurant/availability/<%= data[i].resid%>/delete/<%= data[i].aid%>" method="get">
                <button type="submit" class="btn btn-danger ">Delete</button>
            </form>
        </td>
            </tr>
            <% } %>
    </tbody>
        </table>
    </div>
</div>

</body>

</html>
